@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    box-sizing: border-box;

}
body {
/*     background: linear-gradient(45deg, #fcd5ce, #ffffff 70.71%); */
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin:0;
}

.title {
    font-family: 'Pacifico', cursive;
    color: #e63946;
    font-size: 60px;
}

p {
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.logo{
    position: relative;
    width: 80vw;
    height: 15%;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-cube {
    width: 50px;
    height: 50px;
    background-color: #a8dadc;
    transform: translateX(-30px) rotateZ(30deg);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.dot{
    width: 8px;
    height: 8px;
    margin: 8px;
    border-radius: 50%;
    background-color: #457b9d;
}

.container {
    margin-top: -60px;
    width: 80vw;
    
}

.dice-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    
}

.choose-a-dice {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 90px;
    height: 145px;
}

.dice {
    width: 80px;
    height: 80px;
    margin-top: 0;
    background-color: #a8dadc;
    border: none;
    border-radius: 20px;
    padding: 5px;
    font-family: inherit;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;

}


.choosen {
    background-color: #457b9d;
}

.dice:hover {
    box-shadow: 0 0 5px #457b9d;
}


.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#roll_dice {
    background-color: #e63946;
    width: 120px;
    height: 50px;
    border-radius: 30px;
    padding: 5px 10px;
    margin-top: 20px;
    border: none;
    color: #fff;
    font-size: inherit;
}


#roll_dice:active{
    transform: scale(0.98);
}
